@model LojaSuplemento.Models.Produto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoBarras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoBarras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataProdutoValidadeInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataProdutoValidadeInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataProdutoValidadeFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataProdutoValidadeFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataProdutoInclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataProdutoInclusao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
