@model IEnumerable<LojaSuplemento.Models.Produto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAreaRestrita.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex justify-content-between">
            <h5 class="m-0 font-weight-bold text-primary align-self-center">Produtos</h5>
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus-square" aria-hidden="true"></i> Adicionar Produto</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                        <th>@Html.DisplayNameFor(model => model.TituloProduto)</th>
                        <th>@Html.DisplayNameFor(model => model.PrecoProduto)</th>
                        <th>@Html.DisplayNameFor(model => model.Quantidade)</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                        <th>@Html.DisplayNameFor(model => model.TituloProduto)</th>
                        <th>@Html.DisplayNameFor(model => model.PrecoProduto)</th>
                        <th>@Html.DisplayNameFor(model => model.Quantidade)</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img class="card-img" src="@($"/img/produtos/"+ (!string.IsNullOrEmpty(item.ImageUrlPath) ? item.ImageUrlPath : "placeholder-img.png" ))" style="height:200px; width:120px;">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TituloProduto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecoProduto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="fas fa-pen" aria-hidden="true"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="fas fa-search" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



